body {
    background-color: #d8dde3;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

.binge-box-img {
  background-image: url(the-binge-box-logo.png);
  border-radius: 2em;
  background-size: cover;
  background-position: center; 
  height: 300px;
  width: 400px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the image horizontally */
  margin-top: 1em;
  margin-bottom: 1em;
}