.mainContainer {
    display: flex;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoContainer {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
}

.overviewContainer {
    padding: 1rem;
}

img {
    width: 100%;
}