.mohammad-body {
    /* background-color: #121212; */
    background-image: url(f2ee8cbd3aa843b3a348a3df9fe6a9a2.jpeg);
    background-repeat: repeat;
    background-size: 800px;
    padding-bottom: 7em;
}

.mohammad-playlist-name {
    color:  rgb(252, 243, 218);
    text-align: center;
    margin-top: 0;
    padding-top: .5em;
}

.mohammad-movie-title {
    color:  rgb(252, 243, 218);
    margin: 0;
    display: inline;
}

.mohammad-movie-overview {
    color: rgb(252, 243, 218);
    margin-top: .5em;
}

.mohammad-movie-poster {
    border-radius: 1em;
}

.mohammad-movie-container-parent {
    display: flex;
    background-color: rgba(18, 18, 56, 0.9);
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 1em;
    padding: 1em;
    transition: transform 0.2s ease-in-out;

}

.mohammad-movie-container-parent:hover {
    transform: scale(1.05);
  }

.mohammad-movie-container-child {
    display: block;
    margin-left: 1em;
}

.mohammad-movie-checkbox {
  margin: 0;
  padding: 0;
  display: flex; 
  align-items: center;
}

.mohammad-not-seen {
  font-size: small;
  margin: 0;
  margin-top: .5em;
  padding: 0;
  padding-right: 0.3em;
  display: inline;
  color: #56cde5;
}

.mohammad-seen {
  font-size: small;
  margin: 0;
  margin-top: .5em;
  padding: 0;
  padding-right: 0.3em;
  display: inline;
  color: #518739;
}

.mohammad-svg {
  vertical-align: middle; 
  margin: 0; 
  margin-top: .5em;
  padding: 0; 
  width: 1.5em; 
  height: 1.5em; 
  transition: transform 0.2s ease-in-out;
}

.mohammad-svg:hover {
  transform: scale(1.2);
}

.mohammad-seen-eye-svg-color {
  fill: #518739;
}

.mohammad-not-seen-svg {
  vertical-align: middle; 
  margin: 0; 
  margin-top: .5em;
  padding: 0; 
  width: 1.5em; 
  height: 1.5em; 
  transition: transform 0.2s ease-in-out;
}

.mohammad-not-seen-svg:hover {
  transform: scale(1.2);
}

.mohammad-progress-bar-title {
    width: 100%;
    background-color: rgba(13, 13, 13, 0.7);
    position: fixed;
    bottom: 80.5px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fefdf9;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 23px;
}

.mohammad-full-container-progress-bar {
    position: fixed;
    left: 0;
    bottom: 55px;
    width: 100%;
    background-color: rgba(13, 13, 13, 0.7);
    padding: 10px; 
  }
  
  .mohammad-progress-container {
    width: 80%;
    margin: 0 auto; 
    background-color: #222222;
    border-radius: 5em;
  }
  
  .mohammad-progress-bar {
    height: 20px;
    background-color:  #518739;
    border-radius: 5em;
  }