img {
    width: 190px;
    height: 250px;
    border-radius: 1em;
}

h3 {
    padding-top: 1em;
    padding-left: 3em;
}

.playlist-movie-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    /* height: 400px; */
    scrollbar-color: #606060 #393939;
}

.movie-container {
    background-color: #181818;
    padding: 1em;
    margin-left: .5em;
    border-radius: 1em;
    transition: transform 0.2s ease-in-out;

}

.movie-container:hover {
    transform: scale(1.05);
  }

.movie-container-font {
    font-weight: bold;
    color: white;
    padding-left: 0;
}

.playlist-playlist-container {
    color: white;
    padding-left: 0;
    text-align: left;
    background-color: #1d1d1e;
    border-radius: 1em;
}

.movie-overview {
    color: #767676
}

.read-more-less-button {
    background-color: #181818;
    color: #3da2e1;
    border: none;

}